<html>
  <body>
    <div>
      <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
            <header>
              <nav>
	              <a class="brand" href="index.html#">Silk Web Toolkit</a>
	              <ul class="nav">
	                <li><a href="getting-started.html">Getting started</a></li>
	                <li><a href="downloads.html">Downloads</a></li>
	                <li class="dropdown">
	                  <a href="documentation/index.html" class="dropdown-toggle" data-toggle="dropdown">
	                    Documentation
	                    <b class="caret"></b>
	                  </a>
	                  <ul class="dropdown-menu">
	                    <li><a href="documentation/index.html">Big picture</a></li>
                      <li><a href="documentation/sites.html">Sites</a></li>
	                    <li><a href="documentation/templates.html">Templates</a></li>
	                    <li><a href="documentation/views.html">Views</a></li>
	                    <li><a href="documentation/components.html">Components</a></li>
	                    <li class="divider"></li>
	                    <li><a href="documentation/spinning.html">Spinning</a></li>
	                    <li><a href="documentation/site-prototypes.html">Site prototypes</a></li>
	                  </ul>
	                </li>
	                <li><a href="community.html">Community</a></li>
	                <li><a href="roadmap.html">Roadmap</a></li>
	              </ul>

	              <ul class="nav pull-right">
	                <li><a href="downloads.html">Latest version: 0.2.0-pre.1</a></li>
	              </ul>
              </nav>
            </header>
	        </div>
	      </div>
	    </div>
    </div>
  </body>
</html>
