<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="Silk Web Toolkit" />
    <meta name="author" content="Silk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-sw-component="site-name">placeholder for site name</title>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap-prettify.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/tipuesearch.css"></link>
    <link rel="stylesheet" type="text/css" href="resource/css/style.css"></link>
    <script type="text/javascript" src="resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/proper.min.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch_content.js"></script>
    <script type="text/javascript" src="resource/js/tipuesearch.min.js"></script>
    <script type="text/javascript" src="resource/js/clipboard.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resource/js/prettify/prettify.js"></script>
  </head>
  <body onload="prettyPrint();">
    <div data-sw-component="header">Placeholder for header</div>
    <div class="container-fluid">
      <div data-sw-view="">Placeholder for view</div>
      <div data-sw-component="footer">Placeholder for footer</div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31214840-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
      });

      [].forEach.call(document.querySelectorAll('pre'), function(snippet) {
        snippet.insertAdjacentHTML(
          'beforebegin',
          '<div class="bd-clipboard">' +
            '<button class="btn btn-primary btn-sm btn-clipboard" data-clipboard-snippet data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Copied!">' +
              'Copy' +
            '</button>' +
          '</div>'
        );
      });

      var clipboardSnippets = new ClipboardJS('[data-clipboard-snippet]', {
        target: function(trigger) {
          return trigger.parentNode.nextElementSibling;
        }
      });
      clipboardSnippets.on('success', function(e) {
        e.clearSelection();
      });
      clipboardSnippets.on('error', function(e) {
        alert("An error occurred while copying to clipboard.");
      });
    </script>
  </body>
</html>
