<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="Silk Web Toolkit" />
    <meta name="author" content="bheap, ltd" />
    <title>Silk Web Toolkit</title>
    <link rel="stylesheet/less" href="resource/less/bootstrap.less"></link>
    <link rel="stylesheet/less" href="resource/less/silk.less"></link>
    <script type="text/javascript" src="resource/js/less-1.1.5.min.js"></script>
    <script type="text/javascript" src="resource/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap-dropdown.js"></script>
  </head>
  <body>

    <div class="topbar" data-dropdown="dropdown" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="index.html#">Silk Web Toolkit</a>
          <ul class="nav">
            <li><a href="getting-started.html">Getting started</a></li>
            <li class="dropdown">
              <a href="documentation/index.html" class="dropdown-toggle">Documentation</a>
              <ul class="dropdown-menu">
                <li><a href="documentation/index.html">Big picture</a></li>
                <li><a href="documentation/pipelines.html">Pipelines</a></li>
                <li><a href="documentation/templates.html">Templates</a></li>
                <li><a href="documentation/views.html">Views</a></li>
                <li><a href="documentation/components.html">Components</a></li>
                <li><a href="documentation/site-prototypes.html">Site prototypes</a></li>
                <li><a href="documentation/spinning.html">Spinning</a></li>
              </ul>
            </li>
            <li><a href="community.html">Community</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="silk-template">
        Content will go here
      </div>
    </div>

    <div class="container">
      <footer>
        <p class="pull-right"><img src="resource/images/silk-final-small-black.png" alt="spun with Silk" /></p>
        <p>Built with pride by Bheap Ltd 2011.</p>
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.  Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </footer>
    </div>
  </body>
</html>
