<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="Silk Web Toolkit" />
    <meta name="author" content="bheap, ltd" />
    <title>Silk Web Toolkit</title>
    <link rel="stylesheet/less" type="text/css" href="resource/less/bootstrap.less"></link>
    <script type="text/javascript" src="resource/js/less-1.2.1.min.js"></script>
    <script type="text/javascript" src="resource/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap-dropdown.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Documentation</h1>
    </div>

    <div id="silk-component:static/header">
      Placeholder for header
    </div>

    <div class="container">
      <div id="silk-template">
        Content will go here
      </div>
    </div>

    <div class="container">
      <hr />
    </div>

    <div id="silk-component:static/footer">
      Placeholder for footer
    </div>
  </body>
</html>
