<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="Silk Web Toolkit" />
    <meta name="author" content="bheap, ltd" />
    <title>Silk Web Toolkit Specifications</title>
    <link rel="stylesheet/less" type="text/css" href="resource/less/bootstrap.less"></link>
    <!-- Reference microformats combined profile -->
    <link rel="profile" href="http://microformats.org/profile/specs" />
    <script type="text/javascript" src="resource/js/less-1.2.1.min.js"></script>
    <script type="text/javascript" src="resource/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-31214840-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
  </head>

  <body>
    <div class="container">
      <h1>Specification</h1>
    </div>

    <div id="silk-component:static/header">
      Placeholder for header
    </div>

    <div class="container">
      <div id="silk-view">
        Content will go here
      </div>
    </div>

    <div class="container">
      <hr />
    </div>

    <div id="silk-component:static/footer">
      Placeholder for footer
    </div>
  </body>
</html>
