<html>
  <head>
    <meta name="template" content="specifications" />
  </head>
  <body>
    <div>

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li><a href="specs/index.html">Specifications</a> <span class="divider">/</span></li>
        <li class="active">Templates</li>
			</ul>

      <header class="jumbotron subhead" id="overview">
        <h1>
          Templates spec 0.1.0
          <small>Ross McDonald</small>
        </h1>
        <p class="lead">
          Templates prepare views for consumption across difference deployment targets.
        </p>
      </header>

      <section id="problem">
        <div class="page-header">
          <h1>
            The Problem
            <small>Describes the problem we are trying to fix</small>
          </h1>
        </div>

        <p>
          Templates are currently just a placeholder, proof of concept.  They are severely limited.  A default.html must always be defined locally, so even within what is currently the only pipeline 'ViewDrivenPipeline' we have no flexibility.
        </p>
      </section>

      <section id="solution">
        <div class="page-header">
          <h1>
            The Solution
            <small>Describes the solution we propose</small>
          </h1>
        </div>

        <p>
          The most flexible possibility is for users to specify a particular template in the head 'furniture'.  An example is given below.
        </p>

        <div id="silk-component:static/specific-template-sample">
          Placeholder for specific template example
        </div>

        <p>
          If the specified template is not found Silk will check for the same template in Silk core.  If the same template is not found in Silk core a 'missing-template' template is wrapped around the view in question, this template makes it clear to the user that they have not specified an existing template.  This information is also displayed by the CLI when Silk spinning occurs.
        </p>

        <p>
          If no external template is specified then Silk will use 'default.html' in the templates directory.
        </p>

        <p>
          If for some reason 'default.html' does not exist then Silk will use a 'template-missing' template defined in Silk core.
        </p>

        <p>
          Silk will be updated with new commands for cloning and installing templates to aid with developing new ones.
        </p>
      </section>

      <section id="post-0.1.0">
        <div class="page-header">
          <h1>
            Post 0.1.0
            <small>Describes the future of templates in Silk</small>
          </h1>
        </div>

        <p>
          Note we have not addressed specifying template structure directly in the view in the head 'furniture', that will come post 0.1.0 and will be implemented at the same time as functionality to enable re-writing elements of the template used by a view (like the title).
        </p>
      </section>
    </div>
  </body>
</html>
