<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			</ul>

      <section id="templates">
        <div class="page-header">
          <h1>Templates draft specification 0.1.0</h1>
        </div>

        <h2>The Problem</h2>
        <p>
          Templates are currently just a placeholder, proof of concept.  They are severely limited.  A default.html must always be defined locally, so even within what is currently the only pipeline 'ViewDrivenPipeline' we have no flexibility.
        </p>

        <h2>The Solution</h2>
        <p>
          The most flexible possibility is for users to specify a particular template in the head 'furniture'.  An example is given below.
        </p>
<pre>
  &lt;html&gt;
    &lt;head&gt;
      &lt;meta name="template" content="template.html"&gt;
    &lt;/head&gt;
    ...
  &lt;/html&gt;
</pre>

        <p>
          If the specified template is not found Silk will check for the same template in Silk core.  If the same template is not found in Silk core a 'missing-template' template is wrapped around the view in question, this template makes it clear to the user that they have not specified an existing template.  This information is also displayed by the CLI when Silk spinning occurs.
        </p>

        <p>
          If no external template is specified then Silk will use 'default.html' in the templates directory.
        </p>

        <p>
          If for some reason 'default.html' does not exist then Silk will use a 'template-missing' template defined in Silk core.
        </p>

        <p>
          Silk will be updated with new commands for cloning and installing templates to aid with developing new ones.
        </p>

        <h2>Post 0.1.0</h2>
        <p>
          Note we have not addressed specifying template structure directly in the view in the head 'furniture', that will come post 0.1.0 and will be implemented at the same time as functionality to enable re-writing elements of the template used by a view (like the title).
        </p>
      </section>
    </div>
  </body>
</html>
