<html>
  <head>
    <meta name="template" content="specifications" />
  </head>
  <body>
    <div>

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Specifications</li>
			</ul>

      <header class="jumbotron subhead" id="overview">
        <h1>
          Specifications
          <small>Formally planned against a roadmap</small>
        </h1>
        <p class="lead">
          Here we place specifications, intended for review by the Silk community.
        </p>
      </header>

      <section id="documentation">
        <div class="page-header">
          <h1>0.1.0 <small>Static Silk</small></h1>
        </div>

        <ul>
          <li><a href="specs/0.1.0/templates/index.html">Templates</a></li>
          <li><a href="specs/0.1.0/cli/index.html">CLI</a></li>
        </ul>
      </section>
    </div>
  </body>
</html>
