<html>
  <body>
    <div class="row">
      <ul class="list-unstyled">
        <li>
          <div class="example">
            <h4 data-sw-text="title"></h4>
            <div class="thumbnail wrap-screenshot" data-sw-href="zip" alt="Download">
              <iframe class="screenshot" data-sw-src="url"></iframe>
            </div>
            <p data-sw-text="details"></p>
            <a data-sw-href="url" target="_blank">View</a>
            <a data-sw-href="zip" class="pull-right">Download</a>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
