<html>
  <body>
    <div id="navbar-header" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span data-sw-component="site-name" /></a>
        </div>
        <div class="collapse navbar-collapse">
          <div data-sw-component="header-menu" data-sw-source=".menu" data-sw-sort="priority" data-sw-sort-dir="ascending">
            Placeholder for header menu component
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
