<html>
<body>
  <div class="bs-sidebar" role="complementary">
    <nav id="menu" class="bs-sidenav">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a data-sw-href="#id" data-sw-text="title" class="nav-link">
            Placeholder for title
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <script>
    $(document).ready(function(){
      var $window   = $(window);
      var $body     = $(document.body);
      var navHeight = $('.navbar').outerHeight(true);

      function affix() {
        if ($window.scrollTop() >= 250) {
          $('.bs-sidebar').addClass('bs-sidebar-affix');
          $('.active').focus();
        } else {
          $('.bs-sidebar').removeClass('bs-sidebar-affix');
          $('.form-control').focus();
        }
      }

      $body.scrollspy({
        target: '.bs-sidebar',
        offset: navHeight
      });

      affix();
      $window.on('scroll', function(event) {
        affix();
      });
    });
  </script>
</body>
</html>
