<html>
  <head>
    <meta name="template" content="proposals" />
  </head>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li><a href="proposals/index.html">Proposals</a> <span class="divider">/</span></li>
        <li class="active">Semantic ordering</li>
			</ul>

      <header class="jumbotron subhead" id="overview">
        <h1>
          Semantic ordering
          <small>Ross McDonald</small>
        </h1>
        <p class="lead">
          Silk is built on the premise that semantic purity and simplicity is key.  Humans first, machines second, and semantic meaning should never be polluted.
        </p>
      </header>

      <section id="problem">
        <div class="page-header">
          <h1>
            The problem
            <small>Lorem ipsum</small>
          </h1>
        </div>

        <p>
          Lorem ipsum
        </p>
      </section>

      <section id="solution">
        <div class="page-header">
          <h1>
            The solution
            <small>Lorem ipsum</small>
          </h1>
        </div>

        <p>
          Lorem ipsum
        </p>
      </section>
    </div>
  </body>
</html>
