<html>
  <head>
    <meta name="template" content="proposals" />
  </head>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li><a href="proposals/index.html">Proposals</a> <span class="divider">/</span></li>
        <li class="active">Semantic ordering</li>
			</ul>

      <header class="jumbotron subhead" id="overview">
        <h1>
          Semantic extensions
          <small>Ross McDonald</small>
        </h1>
        <p class="lead">
          A proposal on how to enable <a href="http://oxforddictionaries.com/definition/semantic?q=semantic">semantic</a> extensions for Silk which will not break the core tenets of semantic purity and simplicity.  In particular we look at two use cases, ordering and weighting.
        </p>
      </header>

      <section id="problem">
        <div class="page-header">
          <h1>
            The problem
            <small>Describes the problem we are trying to fix</small>
          </h1>
        </div>

        <p>
          We would like the Silk Web Toolkit to be able to automate all manner of different boring tasks for us.  This will increase how useful and engaging it is.  Some examples of things that we believe should just be taken care of for users are listed below.
        </p>

        <ul>
          <li>Optional generation of <a href="http://www.sitemaps.org/">Google Sitemap</a> (perhaps others)</li>
          <li>Optional generation of sitemap HTML content for the site itself (usability)</li>
          <li>Optional production of single PDF document out of multi page website (usability)</li>
        </ul>

        <p>
          Now the problem with these tasks is that they require either some kind of weighting factor, or some kind of ordering.  Ultimately either requirement, weighting or ordering can only be decided by the individual building with Silk.
        </p>

        <p>
          If the user needs to declare this new information somewhere we face the problems listed below.
        </p>

        <ul>
          <li>It must be quick and easy for the user to declare the necessary information</li>
          <li>There must be no duplication required</li>
          <li>Declaring the information must not require the use of any new mechanisms within the toolkit</li>
          <li>Semantic purity must be preserved, both in the construct and the artifact</li>
        </ul>
      </section>

      <section id="solution">
        <div class="page-header">
          <h1>
            The solution
            <small>Describes the solution we propose</small>
          </h1>
        </div>

        <p>
          With Silk, our artifacts and the construct that produces them are composed with exactly the same structural and semantic markup language, namely HTML.  This massively reduces what you need to know, and eliminates the battles we have all seen time and time again with server side language X.
        </p>

        <p>
          We therefore propose that POSH (Plain Old Semantic HTML) should be used to declare the necessary ordering or weighting information depending on the problem the user is trying to solve.  Furthermore, examining the use cases we listed in the <a href="#problem">problem</a> above, we propose that we could leverage the ever present HTML nav component.  This has the added benefit that we are not producing a new construct in order to declare our semantic extensions.
        </p>

        <p>
          We believe that it is the user who would need to create the HTML nav component of the site as it requires knowledge of ordering that only they have.  So if ordering or weighting definitions have to go anywhere why not in a component that needs to be created anyhow.
        </p>

        <p>
          So we have solved the ordering problem by piggy-backing off a component which gives explicit structural ordering, the nav.  A solution to the weighting problem is a little more involved.
        </p>

        <p>
          We think weighting can be declared by the user by applying a semantic extension to the same nav component.  We propose that this could be achieved with the creation of a custom <a href="http://microformats.org/">microformat</a>.  The nature and use of the microformat we propose are presented in the <a href="#approach">approach</a> below.
        </p>
      </section>

      <section id="approach">
        <div class="page-header">
          <h1>
            The approach
            <small>Describes the details of our solution</small>
          </h1>
        </div>

        <p>
         Why a microformat ?  Couldn't this problem be solved in an easier way ?  Definitely it could.  However we think this could be useful in other contexts via consumers that could build sitemaps for your Silk project and other projects completely non Silk related.  We like to give back :-)
        </p>

        <p>
          We will not go so far as to create the specification here but we will broadly examine whether it is feasible.
        </p>

        <p>
          The <a href="http://www.sitemaps.org/protocol.html">sitemap</a> protocol is well understood at this point.  We will initially look at implementing only parts of it.
        </p>

        <p>
          We believe it would be relatively easy to declare 'priority' and 'changefreq' by leveraging existing attributes on elements of a nav component.  The 'loc' information is of course already conveniently in place in the href attributes.  The optional 'lastmod' information is more of a problem for a number of reasons.  We will choose to merrily ignore that for the scope of this proposal.
        </p>

        <p>
          To summarise we are solving three problems with one construct (a POSH nav component) and a sprinkling of semantic markup leveraging elements and attributes we already know and love.  HTML FTW!
        </p>
      </section>
    </div>
  </body>
</html>
