<html>
  <body>
    <div class="jumbotron">
      <h1>Community</h1>
      <p>
        We welcome contributions, whether its code, ideas or feedback.  
      </p>
    </div>    
    <section id="team">
      <div class="page-header">
        <h1>Team <small>Who we all are</small></h1>
      </div>

      <p>
        The <span data-sw-component="site-name" /> is brought to you with 
        pride by Bheap Ltd and a team of volunteers.
      </p>

      <table class="table table-striped" id="teamTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ross McDonald</td>
            <td>Core committer</td>
            <td>ross AT bheap DOT com</td>
          </tr>       
          <tr>
            <td>Barrie McGuire</td>
            <td>Core committer</td>
            <td>barrie AT bheap DOT com</td>
          </tr>
          <tr>
            <td>Nick Featch</td></h1>
            <td>Core committer</td>
            <td>nick DOT featch AT gmail DOT com</td>
          </tr>
          <tr>
            <td>Andi North</td>
            <td>Committer</td>
            <td>andi AT mangopear DOT co DOT uk</td>
          </tr>
        </tbody>
      </table>
    </section>
  
    <section id="getting-involved">
      <div class="page-header">
        <h1>Getting involved  <small>Contributor guidelines</small></h1>
      </div>

      <p>
        The Silk community is in its infancy and as such is pretty flexible right now.  We work around one principle belief... <span class="label label-info">quod severis metes</span> which translates as 'as you sow, so shall you reap'.  We are all in this to make something useful, and we hope to have fun along the way.
      </p>
      <p>
        For formatting we prefer two space indentation, this seems to work well for HTML and cross editor/IDE compatibility.  For patch/commits/pull requests we prefer small atomic units of work where the intent is clearly expressed and one topic is submitted at a time.  As we are on Github feature branches are best for pull requests.
      </p>
      <p>
        To get started with contributing just come and ask about it on the mailing list or on our IRC channel.  We have plenty of ideas for things that need to be done.  Several are listed below.
      </p>
      <ul>
        <li>new site prototype's</li>
        <li>new components static and dynamic</li>
        <li>general improvements to the somewhat prototypy code</li>
      </ul>
      <p>
        Our <a href="https://github.com/organizations/silk-web-toolkit/dashboard/issues">issues list</a> is usually kept up to date over on Github.
      </p>
    </section>
  </body>
</html>
