<html>
  <body>
    <div id="silk-view">

      <div class="container">
        <h1>Community</h1>

        <p>
          The code for Silk is available on <a href="https://github.com/bheap/silk">Github</a>.
        </p>

        <p>
          We welcome contributions to Silk, whether in the form of code or ideas and feedback.  We love hearing about how it is being used.  Please don't hesitate to contact our <a href="http://groups.google.com/group/silk-user">mailing list</a>.
        </p>
        
      </div>
    </div>
  </body>
</html>
