<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Community</li>
			</ul>

      <section id="community">
        <div class="page-header">
          <h1>Community</h1>
        </div>

        <p>
          We welcome contributions to Silk, whether in the form of code, design or ideas and feedback.  We love hearing about how it is being used.
        </p>

        <p>
          Follow Twitter news on Silk over at <a href="http://twitter.com/#!/@bheaper">@bheaper</a>.
        </p>

        <p>
          The code for Silk is available on <a href="https://github.com/bheap/silk">Github</a>.
        </p>

        <p>
          Need help ?  Want to ask some questions ?  Please don't hesitate to contact our <a href="http://groups.google.com/group/silk-user">mailing list</a>.
        </p>

        <p>
          Want to talk to the core contributors or community ?  Try the Silk IRC channel <span class="label label-info">irc://anchor.foonetic.net/silk</span>.
        </p>
      </section>

      <section id="ecosystem-guidelines">
        <div class="page-header">
          <h1>Contributor guidelines</h1>
        </div>

        <p>
          The Silk community is in its infancy and as such is pretty flexible right now.  We work around one principle belief... <span class="label label-info">quod severis metes</span> which translates as 'as you sow, so shall you reap'.  We are all in this to make something useful, and we hope to have fun along the way.
        </p>
        <p>
          For formatting we prefer two space indentation, this seems to work well for HTML and cross editor/IDE compatibility.  For patch/commits/pull requests we prefer small atomic units of work where the intent is clearly expressed and one topic is submitted at a time.
        </p>
        <p>
          To get started with contributing just come and ask about it on the mailing list or on our IRC channel.  We have plenty of ideas for things that need to be done.  Several are listed below.
        </p>
        <ul>
          <li>new site prototype's</li>
          <li>new components static and dynamic</li>
          <li>general improvements to the somewhat prototypy code</li>
        </ul>
      </section>
    </div>
  </body>
</html>
