<html>
  <body data-sw-nav="Documentation" data-sw-priority="1">
    <div class="jumbotron">
      <h1>Documentation</h1>
      <p>Lets get you up and running with your first site.</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div data-sw-component="side-nav" data-sw-source="sw/bookmarks/documentation" data-sw-sort="priority" data-sw-sort-dir="ascending">
          Placeholder for side nav component
        </div>
      </div>
      <div class="col-md-9" role="main">

        <section data-sw-nav="Setup" id="setup">
          <div class="page-header">
            <h1>Setup
              <small>
                Lets get you up and running with the
                <span data-sw-component="site-name"/>
              </small>
            </h1>
          </div>
          <h2>Linux</h2>
          <ul>
            <li>put <a href="https://github.com/silk-web-toolkit/silk/releases/download/0.5.0/silk.jar">silk.jar</a> somewhere</li>
            <li>create a <code>~/.silk</code> location for shared silk components and datasources</li>
            <li>navigate to your silk site see an <a href="examples.html" title="example Silk site">example</a></li>
            <li>in the terminal at the root of your site run <code>java -jar /path/to/silk.jar spin</code></li>
            <li>the pieces of your site (described below) will be assmebled and placed in a <em>site</em> directory</li>
            <li>open your site from the terminal with <code>firefox site/myfile.html</code> (assuming firefox is on your path)</li>
          </ul>
        </section>

        <section data-sw-nav="Templates" id="templates">
          <div class="page-header">
            <h1>Templates
              <small>Get the same look and feel across all your pages</small>
            </h1>
          </div>
          </p>
            Add a 'data-sw-view'attribute to a  &lt;div&gt; tag, to
            specify where your views are inserted into your templates.
          </p>
<pre><code class="html"><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;head&gt;</span>
  <span class="nt">&lt;title&gt;</span>My Sample Site<span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;/head&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;header&gt;</span>
    Placeholder for header component
  <span class="nt">&lt;/header&gt;</span>
  <span class="nt">&lt;div</span><span class="na"> data-sw-view=</span><span class="s">&quot;&quot;</span><span class="nt">&gt;</span>
    Placedholder for view
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;footer&gt;</span>
    Placedholder for footer component
  <span class="nt">&lt;/footer&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>
        </section>

        <section data-sw-nav="Views" id="views">
          <div class="page-header">
            <h1>Views
              <small>
                The epicentre of your site, organise your content
              </small>
            </h1>
          </div>
          <p>
            This view points to a template called "example-template". If you leave
            the &lt;meta&gt; tag blank Silk
            will look for a template called "default".
          </p>
<pre><code class="html"><span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;meta</span><span class="na"> name=</span><span class="s">&quot;template&quot;</span><span class="na"> content=</span><span class="s">&quot;example-template&quot;</span><span class="nt"> /&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;div&gt;</span>
    <span class="nt">&lt;p&gt;</span>This is the content for the view<span class="nt">&lt;p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>
        </section>

        <section data-sw-nav="Components" id="components">
          <div class="page-header">
            <h1>Components
              <small>Contain reusable mark-up</small>
            </h1>
          </div>
          <p>
            Simple components enable re-use of structural or semantic markup.
          </p>
          <p>
            Component mark up must be placed into the components directory.
            Everything inside the &lt;body&gt; tag is injected into the caller. The
            component's name is its file-name minus extension.
          </p>
<pre><code class="html"><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;span&gt;</span>
    My Sample Site
  <span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>
          <p>
            Call the component from a template, view or another component with the
            following mark-up.
          </p>
<pre><code class="html"><span class="nt">&lt;span</span><span class="na"> data-sw-component=</span><span class="s">&quot;site-name&quot;</span><span class="nt"> /&gt;</span>
</code></pre>
          <section data-sw-nav="Data driven components" id="components-data-driven">
            <h2>Data driven components
              <small>
                A component attribute which specifies where to read content from
              </small>
            </h2>
            <p>
              Once configure a data driven component allows you to add contents to
              your site without editing the mark-up.
            </p>
            <p>
              A source can be any directory under the <em>data</em> directory . The following component call will gather contents from
              <em>data/news</em> and inject it into components/news.html
            </p>
<pre><code class="html"><span class="nt">&lt;span</span><span class="na"> data-sw-component=</span><span class="s">&quot;my-news&quot;</span><span class="na"> data-sw-source=</span><span class="s">&quot;news&quot;</span><span class="nt"> /&gt;</span></code></pre>
            <p>
              Source items are stored in .edn files. The following specifies
              what the <strong>title</strong> and <strong>description</strong>
              should be.
            </p>
<pre><code class="">{
  :title "Lorem ipsum"
  :description "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."
}</code></pre>
            <p>
              The component mark-up presents whatever data you want to extract from the edn files.
            </p>
<pre><code class="html"><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;ul&gt;</span>
    <span class="nt">&lt;li&gt;</span>
      <span class="nt">&lt;h2</span><span class="na"> data-sw-text=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Placeholder for title<span class="nt">&lt;/h2&gt;</span>
      <span class="nt">&lt;div</span><span class="na"> data-sw-text=</span><span class="s">&quot;description&quot;</span><span class="nt">&gt;</span>Placeholder for description<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>
          </section>

          <section data-sw-nav="Component Details" id="components-details">
            <h2>Details Page
              <small>
                A dedicated page for a sourced component item
              </small>
            </h2>
            <p>
              If a details page is detected (in the components/details with a
              directory with file-name matching the source) then a link can
              be placed in the sourced component like so.
            </p>
<pre><code class="html"><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;ul&gt;</span>
    <span class="nt">&lt;li&gt;</span>
      <span class="nt">&lt;h2</span><span class="na"> data-sw-text=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Placeholder for title<span class="nt">&lt;/h2&gt;</span>
      <span class="nt">&lt;div</span><span class="na"> data-sw-text=</span><span class="s">&quot;description&quot;</span><span class="nt">&gt;</span>Placeholder for description<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;a</span><span class="na"> data-sw-href=</span><span class="s">&quot;path&quot;</span><span class="na"> href=</span><span class="s">&quot;#&quot;</span><span class="nt">&gt;</span>Further details<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>

            <p>Further details can be added to the source.</p>
<pre><code class="html">{
  :title "Lorem ipsum"
  :description "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."
  :further-details "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."
}
</code></pre>
            <p>
              The details component formats the source.
            </p>
<pre><code class="html"><span class="nt">&lt;html&gt;</span>
<span class="nt">&lt;body&gt;</span>
  <span class="nt">&lt;ul&gt;</span>
    <span class="nt">&lt;li&gt;</span>
      <span class="nt">&lt;h2</span><span class="na"> data-sw-text=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Placeholder for title<span class="nt">&lt;/h2&gt;</span>
      <span class="nt">&lt;div</span><span class="na"> data-sw-text=</span><span class="s">&quot;description&quot;</span><span class="nt">&gt;</span>Placeholder for description<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</code></pre>
          </section>
          <section data-sw-nav="Component Type" id="components-type">
            <h2>Type
              <small>
                Specifies how a component should be rendered
              </small>
            </h2>
            <p>
              The default display type is flat (Non-tree). The only other type is
              Tree. Tree components place HTML into sub elements based on your
              source hierarchy structure. E.G. Directory structure of .edn files.
            </p>
<pre><code class="html"><span class="nt">&lt;div</span><span class="na"> data-sw-component=</span><span class="s">&quot;my-tree&quot;</span><span class="na"> data-sw-source=</span><span class="s">&quot;my-source&quot;</span><span class="na"> data-sw-type=</span><span class="s">&quot;tree&quot;</span> <span class="nt">/&gt;</span></code></pre>
<pre><code class="bash">data/
└── my-source/
    ├── sub/
    │   └── item1.edn
    ├── item1.edn
    └── item2.edn
</code></pre>
            <p>
              Due to the unique nature of tree components. The mark-up of tree
              components can not be altered. Below is an example of the tree
              components mark-up up to help style.
            </p>
<pre><code class="html"><span class="nt">&lt;ul&gt;</span>
  <span class="nt">&lt;li</span><span class="na"> class=</span></span><span class="s">&quot;folder&quot;</span><span class="nt">&gt;</span>my-source
    <span class="nt">&lt;ul&gt;</span>
      <span class="nt">&lt;li</span><span class="na"> class=</span><span class="s">&quot;folder&quot;</span><span class="nt">&gt;</span>sub
        <span class="nt">&lt;ul&gt;</span>
          <span class="nt">&lt;li&gt;&lt;a</span><span class="na"> href=</span><span class="s">&quot;directory/item1.html&quot;</span><span class="nt">&gt;</span>item1.edn<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;/ul&gt;</span>
      <span class="nt">&lt;/li&gt;</span>
    <span class="nt">&lt;/ul&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span><span class="na"> href=</span><span class="s">&quot;directory/item1.html&quot;</span><span class="nt">&gt;</span>item1.edn<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span><span class="na"> href=</span><span class="s">&quot;directory/item2.html&quot;</span><span class="nt">&gt;</span>item2.edn<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul<span class="nt">&gt;</span>
</code></pre>
            <p>
              Please note a tree component requires a details component to be
              created.
            </p>
          </section>
        </section>
      </div>
    </div>
    <script src="resource/js/application.js"></script>
  </body>
</html>
