<html>
  <body data-sw-nav="Documentation" data-sw-priority="1">
    <div class="jumbotron">
      <h1>Documentation</h1>
      <p>Lets get you up and running with your first site.</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div data-sw-component="side-nav" data-sw-source="documentation" data-sw-sort="priority">
          Placeholder for side nav component
        </div>
      </div>
      <div class="col-md-9" role="main">
        <ul class="list-unstyled" data-sw-source="documentation" data-sw-sort="priority">
          <li>
            <section data-sw-data-sw-nav="title" data-sw-id="id" data-sw-content>
              <div class="page-header">
                <h2>
                  <span data-sw-text="title">Placeholder for title</span>
                  <small data-sw-text="title-blurb">Placeholder for title blurb</small>
                </h2>
              </div>
              <div data-sw-text="text-md">
                Placeholder for markdown
              </div>
            </section>
          </li>
        </ul>
      </div>
    </div>
    <script src="resource/js/application.js"></script>
  </body>
</html>
