<html>
  <body data-sw-nav="Documentation" data-sw-priority="1">
    <div class="jumbotron">
      <h1>Documentation</h1>
      <p>Lets get you up and running with your first site.</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div data-sw-component="side-nav" data-sw-source="sw/bookmarks/documentation" data-sw-sort="priority" data-sw-sort-dir="ascending">
          Placeholder for side nav component
        </div>
      </div>
      <div class="col-md-9" role="main">

        <section data-sw-nav="Setup" id="setup" data-sw-content>
          <div class="page-header">
            <h2>Setup
              <small>
                Lets get you up and running with the
                <span data-sw-component="site-name"></span>
              </small>
            </h2>
          </div>
          <h3>Linux</h3>
          <ul>
            <li>put <a href="https://github.com/silk-web-toolkit/silk/releases/download/0.6.0/silk.jar">silk.jar</a> somewhere</li>
            <li>navigate to your silk site see an <a href="examples.html" title="example Silk site">example</a></li>
            <li>in the terminal at the root of your site run <code>java -jar /path/to/silk.jar spin</code></li>
            <li>the pieces of your site (described below) will be assmebled and placed in a <code>site</code> directory</li>
            <li>open your site from the terminal with <code>firefox site/myfile.html</code> (assuming firefox is on your path)</li>
          </ul>
        </section>

        <section data-sw-nav="Templates" id="templates" data-sw-content>
          <div class="page-header">
            <h2>Templates
              <small>Get the same look and feel across all your pages</small>
            </h2>
          </div>
          </p>
            Add a <code>data-sw-view</code> attribute to a  <code>&lt;div&gt;</code> tag, to
            specify where your views are inserted into your templates.
          </p>
          <pre class="prettyprint">&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;My Sample Site&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;header&gt;
      &lt;h1&gt;My Sample Site&lt;/h1&gt;
    &lt;/header&gt;
    &lt;div data-sw-view=&quot;&quot;&gt;
      Placedholder for view
    &lt;/div&gt;
    &lt;footer&gt;
      &lt;hr&gt;
    &lt;/footer&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
        </section>

        <section data-sw-nav="Views" id="views" data-sw-content>
          <div class="page-header">
            <h2>Views
              <small>
                The epicentre of your site, organise your content
              </small>
            </h2>
          </div>
          <p>
            Out of the box a view will look for a template called "default".  You can override this by providing an optional <code>&lt;meta&gt;</code> tag, see below.
          </p>
          <p>
            The template title can be overriden by providing an optional title element in the same place.
          </p>
          <pre class="prettyprint">&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;My Title&lt;/title&gt;
    &lt;meta name=&quot;template&quot; content=&quot;example-template&quot; /&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;p&gt;This is the content for the view&lt;p&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
        </section>

        <section data-sw-nav="Components" id="components" data-sw-content>
          <div class="page-header">
            <h2>Components
              <small>Contain reusable mark-up</small>
            </h2>
          </div>
          <p>
            Simple components enable re-use of structural or semantic mark-up.
          </p>
          <p>
            Component mark up must be placed into the components directory.
            Everything inside the <code>&lt;body&gt;</code> tag is injected into the caller. The
            component's name is its file-name minus extension.
          </p>
          <p>
            An example of a simple component is given below.
          </p>
          <pre class="prettyprint">&lt;html&gt;
  &lt;body&gt;
    &lt;span&gt;
      My Sample Site
    &lt;/span&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
          <p>
            Call the component from a template, view or another component with the
            following mark-up.
          </p>
          <pre class="prettyprint">&lt;span data-sw-component=&quot;site-name&quot; /&gt;</pre>
        </section>

        <section data-sw-nav="Sources" id="sources">
          <div class="page-header">
            <h2>Sources
              <small>
                Add blog, news or photo updates without touching mark-up
              </small>
            </h2>
          </div>
          <p>
            A source is a collection of articles, for example news stories or blog posts.
            Source related attributes include;
          </p>
          <ul>
            <li><code>data-sw-source</code> (required: location)</li>
            <li><code>data-sw-sort</code> (optional: key on items to sort on)</li>
            <li><code>data-sw-sort-dir</code> (optional: specify ascending or descending)</li>
            <li><code>data-sw-limit</code> (optional: limit the number of items)</li>
          </ul>
          <p>
            The following will gather articles from
            <code>data/news</code> (a directory called news under the data directory on disk) and inject each into an HTML list (<code>&lt;ul&gt; &lt;ol&gt; &lt;tbody&gt;</code>)
          </p>
          <pre class="prettyprint">&lt;ul data-sw-source=&quot;news&quot;&gt;
  &lt;li&gt;
    &lt;h2 data-sw-text=&quot;title&quot;&gt;&lt;/h2&gt;
    &lt;div data-sw-text=&quot;description&quot;&gt;&lt;/div&gt;
    &lt;ol/&gt;
      &lt;li&gt;
        &lt;img data-sw-src=&quot;images/path&quot; data-sw-alt=&quot;images/tooltip&quot; /&gt;
      &lt;/li&gt;
    &lt;/ol&gt;
  &lt;/li&gt;
&lt;/ul&gt;</pre>

          <p>
            Below is a single news item, in
            <a href="https://github.com/edn-format/edn" target="_blank">EDN Format</a>,
            containing all the mentioned keys.
          </p>
          <label>File:</label> <kbd>data/news/item1.edn</kbd>
          <pre class="prettyprint">
{:title "Lorem ipsum"
 :description "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ..."
 :images [{:path "resources/img/1.jpg" :tooltip "Picture 1"}
          {:path "resources/img/2.jpg" :tooltip "Picture 2"}]}</pre>

        <p>
          A source could also be a directory tree like so.
        </p>

<pre class="prettyprint">data/
└── my-source/
    ├── sub-1/
    │   └── item1.edn
    └── sub-2/
        ├── item1.edn
        └── item2.edn</pre>
        <p>
          Use special attribute value <code>sw/contents</code> to access each directory
          and <code>sw/name</code> for the file/folder name.
        </p>
        <pre class="prettyprint">&lt;ul data-sw-source=&quot;my-source&quot;&gt;
  &lt;li&gt;
    &lt;span data-sw-text=&quot;sw/name&quot;&gt;&lt;/span&gt;
    &lt;ul&gt;
      &lt;li&gt;
        &lt;span data-sw-text=&quot;sw/contents.sw/name&quot;&gt;&lt;/span&gt;
        &lt;ul&gt;
          &lt;li&gt;
            &lt;a data-sw-href=&quot;sw/contents.sw/contents.sw/path&quot;
               data-sw-text=&quot;sw/contents.sw/contents.title&quot;&gt;
            &lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
        </section>

        <section data-sw-nav="Details Page" id="details-page" data-sw-content>
          <div class="page-header">
            <h2>Details Page
              <small>
                A dedicated page per source item
              </small>
            </h2>
          </div>
          <p>
            A details page is a dedicated template for rendering whole articles belonging to a specific source. For source <code>data/news</code>, if the file below is created, each news article will have it's own dedicated details page.
          </p>
          <label>File:</label> <kbd>template/detail/news.html</kbd>
          <pre class="prettyprint">&lt;html&gt;
&lt;body&gt;
  &lt;h2 data-sw-text=&quot;title&quot;&gt;&lt;/h2&gt;
  &lt;div data-sw-text=&quot;further-details&quot;&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
          <p>
            Link to a details page using the special attribute value <code>sw/path</code> as demonstrated below.
          </p>
          <pre class="prettyprint">&lt;ul data-sw-source=&quot;news&quot;/&gt;
  &lt;li&gt;
    &lt;a data-sw-href="sw/path" href="#"&gt;Click here for further details&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</pre>
        </section>

        <section data-sw-nav="Navigation" id="navigation" data-sw-content>
          <div class="page-header">
            <h2>Navigation
              <small>
                Generate site menu's from data driven components.
              </small>
            </h2>
          </div>
          <p>
            The <span data-sw-component="site-name"></span> offers two forms of navigation, <code>views</code> and <code>bookmarks</code>. View navigation caters for site hierarchy. Bookmark navigation for sections inside a view. The data generated for navigation can be found here: <kbd>~/.silk/sw</kbd> after each spin.
          </p>
          <h3>View Nav</h3>
          <p>
            Data for view navigation is generated by including the <code>data-sw-nav</code> attribute in a view's <code>body</code> tag. Views can be sorted by the <code>data-sw-priority</code> attribute. Below is an example of how <code>views/index.html</code> could be added.
          </p>
          <pre class="prettyprint">&lt;html&gt;
  &lt;body data-sw-nav="Home" data-sw-priority="1"&gt;
    &lt;div&gt;
      &lt;p&gt;This is the content for the view&lt;p&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;html&gt;</pre>

          <p>This menu could be included into your site's template.</p>
          <pre class="prettyprint">&lt;ul data-sw-source="sw/views" data-sw-sort="priority" data-sw-sort-dir="ascending"&gt;
  &lt;li&gt;
    &lt;a data-sw-href="path" data-sw-text="title"&gt;&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</pre>

          <h3>Bookmark Nav</h3>
          <p>
            Data for page bookmarks is generated by placing the <code>data-sw-nav</code> attribute into the same tag which contains the bookmark <code>id</code>.
          </p>
          <pre class="prettyprint">&lt;section data-sw-nav="Section 1" id="sec1"&gt;
  &lt;h2&gt;Section 1&lt;/h2&gt;
  &lt;p&gt;
    This is the content for the section 1
  &lt;/p&gt;
&lt;/section&gt;</pre>

          <p>The menu for <code>index.html</code> would be included in the view as follows.</p>
          <pre class="prettyprint">&lt;ul data-sw-source="sw/bookmarks/index" data-sw-sort="priority" data-sw-sort-dir="ascending"&gt;
  &lt;li&gt;
    &lt;a data-sw-href="path" data-sw-text="title"&gt;&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</pre>
        </section>

        <section data-sw-nav="Tipue Search Support" id="tipue-search-content" data-sw-content>
          <div class="page-header">
            <h2>Tipue Search Support
              <small>
                Control your searchable content dynamically
              </small>
            </h2>
          </div>
          <p>
            We recommend you look at <a href="http://www.tipue.com/search/" target="_blank">Tipue Search</a>, an open source <a href="http://jquery.com/" target="_blank">JQuery</a> search engine, along with our <a href="examples.html">Blog example</a>. This search engine has two modes "Live" and "JSON".
          </p>
          <p>
            "Live" automatically indexes your site but due to the <a href="en.wikipedia.org/wiki/Same-origin_policy" target="_blank">Same Origin Policy</a> it requires your site to be on the web (live) for it to work.
          </p>
          <p>
            "JSON" mode requires a JavaScript file with search terms to be maintained.
          </p>
          <p>
            By adding attribute <code>data-sw-content</code> to your markup the <span data-sw-component="site-name"></span> will allow you to include a JavaScript file (<code>resource/js/tipuesearch_content.js</code>) which contains the "JSON" search terms. The <code>data-sw-content</code> attribute can be added to Templates, Views, Components and Details Pages. Navigation attributes are used to gather titles and links for your searchable contents.
          </p>
          <p>
            Below is an example of how to include multiple searchable sections to a page with bookmark navigation.
          </p>
          <pre class="prettyprint">&lt;html&gt;
  &lt;body data-sw-nav="Documentation" data-sw-priority="2" &gt;
    &lt;section data-sw-nav="Section 1" id="sec1" data-sw-content&gt;
      &lt;p&gt;Some searchable content.&lt;/p&gt;
      &lt;p&gt;Some more.&lt;/p&gt;
    &lt;/section&gt;
    &lt;section data-sw-nav="Section 2" id="sec2" data-sw-content&gt;
      &lt;p&gt;Some searchable content.&lt;/p&gt;
      &lt;p&gt;Some more.&lt;/p&gt;
    &lt;/section&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
        </section>
      </div>
    </div>
    <script src="resource/js/application.js"></script>
  </body>
</html>
