<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Downloads</li>
			</ul>

      <div class="alert alert-info">Information:  Silk is in a closed incubation state right now.  It will be open sourced soon.  If you want to know more check out our <a href="community.html">community</a> page.</div>

      <section id="current-version">
        <div class="page-header">
          <h1>Current version</h1>
        </div>

       	<table class="table table-striped" id="currentVersionTable">
          <thead>
            <tr>
              <th>Version</th>
              <th>Release notes</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span id="silk-component:static/current-silk-version">Inserts current silk version here</span></td>
              <td><a href="release-notes.html"><span id="silk-component:static/current-silk-version">Inserts current silk version here</span></a></td>
              <td><!--<a href="http://www.bheap.co.uk/resource/download/silk" class="btn btn-primary">Download</a>--><span class="label label-success">Coming soon</span></td>
            </tr>
          </tbody>
        </table>
      </section>
      <br />

      <section id="known-issues">
        <div class="page-header">
          <h1>Known issues</h1>
        </div>

        <p>
          Here for the sake of convenience we list the most important known issues, to help make you aware of the current limitations, incompleteness and state of the project.
        </p>

        <ul>
          <li>Template handling is rather limited right now</li>
          <li>Code is just a brain dump, we are pre-alpha at the moment</li>
          <li>No strenuous error handling is in place</li>
          <li>No Windows install option or nice wrapper script</li>
          <li>Documentation is minimal at present</li>
        </ul>
      </section>
      <br />

      
      <section id="old-versions">
        <div class="page-header">
          <h1>Old versions</h1>
        </div>

        <table class="table table-striped" id="oldVersionsTable">
          <thead>
            <tr>
              <th>Version</th>
              <th>Release notes</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.1.0-SNAPSHOT.20120301</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20120301">0.1.0-SNAPSHOT.20120301</a></td>
              <td><!--<a href="http://www.bheap.co.uk/resource/download/silk" class="btn btn-primary">Download</a>--><span class="label label-success">Coming soon</span></td>
            </tr>
            <tr>
              <td>0.1.0-SNAPSHOT.20120226</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20120226">0.1.0-SNAPSHOT.20120226</a></td>
              <td><!--<a href="http://www.bheap.co.uk/resource/download/silk" class="btn btn-primary">Download</a>--><span class="label label-success">Coming soon</span></td>
            </tr>
            <tr>
              <td>0.1.0-SNAPSHOT.20120217</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20120217">0.1.0-SNAPSHOT.20120217</a></td>
              <td><!--<a href="http://www.bheap.co.uk/resource/download/silk" class="btn btn-primary">Download</a>--><span class="label label-success">Coming soon</span></td>
            </tr>
            <tr>
              <td>0.1.0-SNAPSHOT.20120212</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20120212">0.1.0-SNAPSHOT.20120212</a></td>
              <td><!--<a href="http://www.bheap.co.uk/resource/download/silk" class="btn btn-primary">Download</a>--><span class="label label-success">Coming soon</span></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
