<html>
  <body>
    <div>

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Downloads</li>
			</ul>

      <section id="current-version">
        <div class="page-header">
          <h1>Current version</h1>
        </div>

       	<table class="table table-striped" id="currentVersionTable">
          <thead>
            <tr>
              <th>Version</th>
              <th>Release notes</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span id="silk-component:static/current-silk-version">Inserts current silk version here</span></td>
              <td><a href="release-notes.html"><span id="silk-component:static/current-silk-version">Inserts current silk version here</span></a></td>
              <td><a href="http://www.silkyweb.org/resource/downloads/silk/0.1.0/silk_install_20120414.tgz" class="btn btn-primary">Linux/OSX</a>(Right click and save/download as)<!--<span class="label label-success">Coming soon</span>--></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="known-issues">
        <div class="page-header">
          <h1>Known issues</h1>
        </div>

        <p>
          Here for the sake of convenience we list the most important known issues, to help make you aware of the current limitations, incompleteness and state of the project.
        </p>

        <ul>
          <li>Code is just a brain dump, we are pre-alpha at the moment</li>
          <li>No strenuous error handling is in place</li>
          <li>No Windows install option</li>
          <li>No nice Windows wrapper script</li>
          <li>Missing Windows site prototype listing, and component listing functionality</li>
          <li>Documentation is minimal at present</li>
        </ul>
      </section>
      <!--<br />

      
      <section id="old-versions">
        <div class="page-header">
          <h1>Old versions</h1>
        </div>

        <table class="table table-striped" id="oldVersionsTable">
          <thead>
            <tr>
              <th>Version</th>
              <th>Release notes</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.1.0-SNAPSHOT.20120311</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20120311">0.1.0-SNAPSHOT.20120311</a></td>
              <td><span class="label label-success">Coming soon</span></td>
            </tr>
          </tbody>
        </table>
      </section>-->
    </div>
  </body>
</html>
