<html>
  <body data-sw-nav="Examples" data-sw-priority="2">
    <div class="jumbotron">
      <h1>Examples</h1>
      <p>Download and spin our example sites.</p>
    </div>
    <div class="row">
      <ul class="list-unstyled" data-sw-source="example-projects" data-sw-sort="sw/path">
        <li class="example">
          <h4 data-sw-text="title"></h4>
          <a data-sw-href="url" target="_blank" class="wrap-screenshot" title="View">
            <iframe class="screenshot" data-sw-src="url"></iframe>
          </a>
          <p data-sw-text="details"></p>
          <a data-sw-href="url" target="_blank">View</a>
          <a data-sw-href="zip" class="float-right">Download</a>
        </li>
      </ul>
    </div>
  </body>
</html>
