<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Getting started</li>
			</ul>

      <section id="getting-started">
        <div class="page-header">
          <h1>Getting started</h1>
        </div>

        <div class="alert alert-info">Information:  Silk is selfishly geared to Linux/OSX right now, although it does work on Windows there is no nice wrapper script and some of the functionality is not ported.</div>

        <h3>Get Silk</h3>
        <a href="downloads.html" class="btn btn-primary">Get current version</a>
        <br />
        <br />

        <h3>Install</h3>
        <pre>>./silk_install.sh</pre>
        <br />

        <h3>Update</h3>
        <pre>>silk update</pre>
        <br />

        <h3>Create a new directory for your site</h3>
        <pre>>mkdir mysite; cd mysite</pre>
        <br />

        <h3>See which <a href="documentation/site-prototypes.html">site prototypes</a> are available</h3>
        <pre>>silk sites</pre>
        <br />

        <h3>Clone a site prototype</h3>
        <pre>>silk site-clone some-site-prototype</pre>
        <br />

        <h3><a href="documentation/spinning.html">Spin</a> your site</h3>
        <pre>>silk spin</pre>
        <br />

        <h3>View your site (OSX)</h3>
        <pre>>open site/index.html</pre>
        <br />

        <span class="label label-success">Schweet</span>.
      </section>
    </div>
  </body>
</html>
