<html>
  <body>
    <div>

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Getting started</li>
			</ul>

      <section id="getting-started">
        <div class="page-header">
          <h1>
            Getting started
            <small><i class="icon-film"></i> See the <a href="http://youtu.be/V5p5fzyeJkY" title="getting-started-screencast" target="_blank">screencast</a></small>
          </h1>
        </div>

        <h3>Get Silk</h3>
        <a href="downloads.html" class="btn btn-primary">Get current version</a>
        <br />
        <br />

        <h3>Install (Linux/OSX)</h3>
        <pre>>./silk_install.sh</pre>
        <br />

        <h3>Install (Windows)</h3>
        <pre>Double click on setup.exe</pre>
        <br />

        <h3>Update</h3>
        <pre>>silk update</pre>
        <br />

        <h3>See which <a href="documentation/site-prototypes.html">site prototypes</a> are available</h3>
        <pre>>silk sites</pre>
        <br />

        <h3>Clone a site prototype</h3>
        <pre>>silk clone-site some-site-prototype optional-directory-name</pre>
        <br />

        <h3><a href="documentation/spinning.html">Spin</a> your site</h3>
<pre>
>cd optional-directory-name
>silk spin
</pre>
        <br />

        <h3>View your site (OSX)</h3>
        <pre>>open site/index.html</pre>
        <br />

        <span class="label label-success">Schweet</span>.
      </section>
    </div>
  </body>
</html>
