<html>
  <body>
    <div>

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Getting started</li>
			</ul>

      <section id="getting-started">
        <div class="page-header">
          <h1>
            Getting started
          </h1>
        </div>

        <h3>Get Java</h3>
        <pre>You will need a Java Runtime Environment</pre>
        <br />
        <br />

        <h3>Get Silk</h3>
        <a href="downloads.html" class="btn btn-primary">Get current version</a>
        <br />
        <br />

        <h3>Install Silk</h3>
        <pre>Install jar file as you prefer</pre>
        <br />

        <h3>Get sample Silk site</h3>
        <a href="downloads.html" class="btn btn-primary">Get current version</a>
        <br />
        <br />

        <h3>Install sample Silk site</h3>
        <pre>Unpack to your preferred location</pre>
        <br />

        <h3><a href="documentation/spinning.html">Spin</a> your site</h3>
<pre>
>cd sample-silk-site
>java -jar silk.jar spin
</pre>
        <pre>Note, you may need to specify the path to your silk.jar</pre>
        <br />

        <h3>View your site (OSX)</h3>
        <pre>>open site/index.html</pre>
        <br />

        <span class="label label-success">Schweet</span>.
      </section>
    </div>
  </body>
</html>
