<html>
  <body>
    <div class="jumbotron">
      <img src="resource/img/silk-blue.png" alt="silk logo" />
      <p>Build websites with reusable components written in pure HTML5.</p>
      <p>Add blog, news or photo updates without touching presentation/template mark-up.</p>
      <p>
        <a href="https://github.com/silk-web-toolkit/silk/releases/latest"
           target="_blank"
           class="btn btn-primary btn-lg">
            Download <span data-sw-component="site-name" />
        </a>
      </p>
    </div>
    <div class="text-center">
      <p>
        <a target="blank" class="btn btn-default"
           href="https://github.com/silk-web-toolkit/silk">Github</a>
        <a target="blank" class="btn btn-default"
           href="http://groups.google.com/group/silk-user">Mailing List</a>
      </p>
    </div>
  </body>
</html>
