<html>
  <body>
    <div class="jumbotron">
      <img src="resource/img/silk-blue.png" alt="silk logo" />
      <p>Build websites with reusable components purely written in HTML5.</p>
      <p>Add blog, news or photo updates without touching the mark-up.</p>
      <p>
        <a href="/resource/downloads/silk-0.3.1-jar.zip"
           class="btn btn-primary btn-lg">
            Download <span data-sw-component="site-name" />
        </a>
      </p>
    </div>
    <div class="text-center">
      <p>TODO create video</p>
      <p>
        <a target="blank" class="btn btn-default"
           href="http://twitter.com/#!/@bheaper">Twitter</a>
        <a target="blank" class="btn btn-default"
           href="https://github.com/organizations/silk-web-toolkit">Github</a>
        <a target="blank" class="btn btn-default"
           href="http://groups.google.com/group/silk-user">Mailing List</a>
      </p>
      <p>
        <span class="label label-default">irc://anchor.foonetic.net/silk</span>
      </p>
    </div>
  </body>
</html>
