<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li class="active">Home</li>
			</ul>

      <div class="container">
	      <div class="hero-unit">
	        <div class="pullRight"><img src="resource/images/silk-final-black.png" alt="silk logo" /></div>
	        <p class="lead">A better way to build the web.</p>
	      </div>
	    </div>

      <section id="vision">
        <div class="page-header">
          <h1>Vision</h1>
        </div>

        <p>
          Build rich websites, webapps and webservices with re-usable components using nothing but vanilla HTML and CSS by default.  Use a well designed web publishing toolkit, with powerful technologies under the hood rolled into an incredibly intuitive, simple interface.
        </p>
        <p>
          <span class="label success">Righteous</span>.
        </p>
      </section>
      <br />

      <section id="overview">
	      <div class="page-header">
          <h1>Overview</h1>
        </div>

        <p>
          Silk will evolve so it can be used in two ways, the first is to build simple static websites, the second to build dynamic webapps and webservices.  The static website version is in its infancy, but useful enough to build with already.  We eat our own dogfood, below is a list of sites we have built with Silk.
        </p>

        <ul>
          <li><a href="http://www.bheap.co.uk">bheap.co.uk</a></li>
          <li><a href="index.html">this site</a></li>
        </ul>

        <p>Download Silk version <a href="#">0.1.0-SNAPSHOT.20111229</a>.  Go ahead and browse the <a href="release-notes.html">release notes</a>.</p>

        <p>
          Those of you who are itching to get going might want to move on to the <a href="getting-started.html">getting started</a> section.
          Otherwise read on for some information on features.
        </p>
      </section>
      <br />

      <section id="features">
	      <div class="page-header">
          <h1>Features</h1>
        </div>
      </section>
    </div>
  </body>
</html>
