<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Release notes</li>
			</ul>

      <section id="release-notes">
        <div class="page-header">
          <h1>Release notes</h1>
        </div>

        <dl>
          <dt><a name="0.1.0-SNAPSHOT.20120304">0.1.0-SNAPSHOT.20120304</a></dt>
            <dd>Windoze support via manual install, sites now spin in Windoze</dd>
            <dd>Code refactored across CLI, pipelines, transformers and config ready for open source release</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120301">0.1.0-SNAPSHOT.20120301</a></dt>
            <dd>Improve config mechanism, visible top level config folder</dd>
            <dd>Refactor preparing for release of code to open source</dd>
            <dd>Improved comments and @todo's for releasing code to open source</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120226">0.1.0-SNAPSHOT.20120226</a></dt>
            <dd>Remove duplicate elements around 'views' and 'components', tidy serialised output</dd>
            <dd>Improve output for 'sites' and 'components' commands</dd>
            <dd>Major refactor of pipeline code</dd>
            <dd>Add ASCII art to silk script</dd>
            <dd>Tidy codebase for release to closed incubation community</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120217">0.1.0-SNAPSHOT.20120217</a></dt>
            <dd>Fix inline components</dd>
            <dd>Remove OSX file copy artifacts from update or install stage</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120212">0.1.0-SNAPSHOT.20120212</a></dt>
            <dd>Add inline components</dd>
            <dd>Remove prototype preview functionality until a better library is found</dd>
            <dd>Tidy entry point into CLI</dd>
            <dd>Add Apache 2.0 license information to project</dd>
        </dl>
      </section>
    </div>
  </body>
</html>
