<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Release notes</li>
			</ul>

      <section id="release-notes">
        <div class="page-header">
          <h1>Release notes</h1>
        </div>

        <dl>
          <dt>0.1.0-SNAPSHOT.20111214</dt>
            <dd>Flush site directory before spinning</dd>
            <dd>Prepare for inclusion of pipelines</dd>
            <dd>Add metadata for describing state of Silk and site prototypes</dd>
          <dt>0.1.0-SNAPSHOT.20111229</dt>
            <dd>Add component lookup strategy</dd>
            <dd>Add missing component functionality</dd>
            <dd>Add draft for dynamic component functionality</dd>
            <dd>Add CLI convenience tasks for component related functionality</dd>
            <dd>Enable components in templates</dd>
            <dd>Switch to Typesafe config HOCON for Silk config</dd>
        </dl>
      </section>
    </div>
  </body>
</html>
