<html>
  <body>
    <div>

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Release notes</li>
			</ul>

      <section id="release-notes">
        <div class="page-header">
          <h1>Release notes</h1>
        </div>

        <dl>
          <dt><a name="0.1.0-SNAPSHOT.20120613">0.1.0-SNAPSHOT.20120613</a></dt>
            <dd>Added Windows installer</dd>
            <dd>Display warning in console when missing component is referenced</dd>
            <dd>Simplify wrapper scripts to account for Windows installer</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120517">0.1.0-SNAPSHOT.20120517</a></dt>
          <dt><a name="0.1.0-SNAPSHOT.20120605">0.1.0-SNAPSHOT.20120605</a></dt>
            <dd>Enable component namespace protection, build your own and manage them, company wide</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120517">0.1.0-SNAPSHOT.20120517</a></dt>
            <dd>Add basic validation of source artifacts, must be valid xhtml</dd>
            <dd>Add basic validation to check that source artifacts have html and body elements</dd>
            <dd>Restrict views and components to only one top level child under the body element</dd>
            <dd>Basic error handling to wrap the spin task</dd>
            <dd>clone now works like Git clone, creates top level project directory for user</dd>
            <dd>Add user prompts to install to prevent artifact overwrites and enable namespace protection</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120501">0.1.0-SNAPSHOT.20120501</a></dt>
            <dd>Rename site-clone to clone-site and site-install to install-site</dd>
            <dd>Rename component-clone to clone-component and component-install to install-component</dd>
            <dd>Port sites listing capability from shell specific into application</dd>
            <dd>Port components listing capability from shell specific into application</dd>
            <dd>Port Silk update functionality from shell specific into application</dd>
            <dd>Add Windows batch file to improve usability of silk.jar</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120426">0.1.0-SNAPSHOT.20120426</a></dt>
            <dd>Enable all HTML elements to be pulled in as components, div, span, ul, table etc</dd>
            <dd>Improve usability of template block, silk-template -> silk-view, more intuitive</dd>
            <dd>Simplify view blocks, remove all semantic markup requirements</dd>
            <dd>Simplify static component blocks, remove all semantic markup requirements</dd>
            <dd>Improve default-basic site-prototype, including styling</dd>
            <dd>Remove hardcoding of package and version in site-prototype and component clone functionality</dd>
            <dd>Add usability improvements (prompts) to site-prototype and component clone, help user figure out what they are cloning</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120414">0.1.0-SNAPSHOT.20120414</a></dt>
            <dd>Added core templates</dd>
            <dd>Implemented 0.1.0 spec for template lookup, more flexibility in template inclusion</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120403">0.1.0-SNAPSHOT.20120403</a></dt>
            <dd>Package root changed to org.silkyweb</dd>
            <dd>Silk downloads hosted at silkyweb.org</dd>
            <dd>Resource (Site Prototypes and Components) updates hosted at silkyweb.org</dd>
          <!--<dt><a name="0.1.0-SNAPSHOT.20120322">0.1.0-SNAPSHOT.20120322</a></dt>
            <dd>Bugfix for nested component paths</dd>
            <dd>Improved dependency inclusion including standalone relativisation code from Bheap scala-utils library</dd>
            <dd>Include version in CLI output</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120311">0.1.0-SNAPSHOT.20120311</a></dt>
            <dd>Dynamic components prototype re-added, ready to be made more capable</dd>
            <dd>Code refactored across CLI, reduced redundancy</dd>
            <dd>Comments added in ComponentTransformer moving towards open sourcing</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120304">0.1.0-SNAPSHOT.20120304</a></dt>
            <dd>Windoze support via manual install, sites now spin in Windoze</dd>
            <dd>Code refactored across CLI, pipelines, transformers and config ready for open source release</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120301">0.1.0-SNAPSHOT.20120301</a></dt>
            <dd>Improve config mechanism, visible top level config folder</dd>
            <dd>Refactor preparing for release of code to open source</dd>
            <dd>Improved comments and @todo's for releasing code to open source</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120226">0.1.0-SNAPSHOT.20120226</a></dt>
            <dd>Remove duplicate elements around 'views' and 'components', tidy serialised output</dd>
            <dd>Improve output for 'sites' and 'components' commands</dd>
            <dd>Major refactor of pipeline code</dd>
            <dd>Add ASCII art to silk script</dd>
            <dd>Tidy codebase for release to closed incubation community</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120217">0.1.0-SNAPSHOT.20120217</a></dt>
            <dd>Fix inline components</dd>
            <dd>Remove OSX file copy artifacts from update or install stage</dd>
          <dt><a name="0.1.0-SNAPSHOT.20120212">0.1.0-SNAPSHOT.20120212</a></dt>
            <dd>Add inline components</dd>
            <dd>Remove prototype preview functionality until a better library is found</dd>
            <dd>Tidy entry point into CLI</dd>
            <dd>Add Apache 2.0 license information to project</dd>-->
        </dl>
      </section>
    </div>
  </body>
</html>
