<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Roadmap</li>
			</ul>

      <section id="roadmap">
        <div class="page-header">
          <h1>Roadmap</h1>
        </div>

        <dl>
          <dt><a name="0.1.0">0.1.0</a></dt>
            <dd>Intuitive, productive CLI</dd>
            <dd>Capable templating system</dd>
            <dd>Comprehensive, informative, prompt error handling</dd>
            <dd>Documentation for new users and new contributors</dd>
          <dt><a name="0.2.0">0.2.0</a></dt>
            <dd>Dynamic components</dd>
        </dl>

        See the <a href="strategy.html">Strategy document</a> for more information.
      </section>
    </div>
  </body>
</html>
