<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Silk info</li>
			</ul>

      <section id="current-version">
        <div class="page-header">
          <h1>Current version</h1>
        </div>

       	<table>
          <thead>
            <tr>
              <th>Version</th>
              <th>Release notes</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.1.0-SNAPSHOT.20111229</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20111229">0.1.0-SNAPSHOT.20111229</a></td>
              <td><a href="http://www.bheap.co.uk/resource/download/silk" class="btn primary">Download</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <br />

      <section id="known-issues">
        <div class="page-header">
          <h1>Known issues</h1>
        </div>

        <p>
          Here for the sake of convenience we list the most important known issues, to help make you aware of the current limitations, incompleteness and state of the project.
        </p>

        <ul>
          <li>No strenuous error handling is in place</li>
          <li>Duplicate content around template, view and component elements is not removed yet</li>
          <li>Documentation is minimal at present</li>
        </ul>
      </section>
      <br />

      
      <section id="old-versions">
        <div class="page-header">
          <h1>Old versions</h1>
        </div>

        <table>
          <thead>
            <tr>
              <th>Version</th>
              <th>Release notes</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0.1.0-SNAPSHOT.20111214</td>
              <td><a href="release-notes.html#0.1.0-SNAPSHOT.20111214">0.1.0-SNAPSHOT.20111214</a></td>
              <td><a href="http://www.bheap.co.uk/resource/download/silk" class="btn primary">Download</a></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
