<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Strategy</li>
			</ul>

      <section id="strategy">
        <div class="page-header">
          <h1>Strategy</h1>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>0.1.0 - Static Silk</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <dl>
				          <dt>Objective</dt>
				            <dd>Build a working draft for a CLI.</dd>
				          <dt>Goal</dt>
				            <dd>Productivity through intelligent design.</dd>
				          <dt>Success Criteria</dt>
				            <dd>Minimum number of steps to achieve domain tasks.</dd>
				            <dd>Principle of least surprise, users intuitively know what to do.</dd>
				            <dd>Enable cross platform (OS) use.</dd>
				            <dd>Responsive on a 'compile' time level.</dd>
				          <dt>Implementation Plan</dt>
					          <dd>Identify requirements by liaising with the community.</dd>
					          <dd>Document the specification for the CLI.</dd>
					          <dd>Build a prototype.</dd>
					          <dd>Measure productivity as compared to the earlier prototype.</dd>
				          <dt>Owner</dt>
				            <dd>Nick Featch.</dd>
				        </dl>
              </td>
            </tr>
            <tr>
              <td>
                <dl>
				          <dt>Objective</dt>
				            <dd>Build a capable templating system.</dd>
				          <dt>Goal</dt>
				            <dd>Flexible application of templates to views.</dd>
				          <dt>Success Criteria</dt>
				            <dd>Fallback option in case of misconfiguration.</dd>
				            <dd>Flexibility in defining template to use.</dd>
				            <dd>Capability across different pipelines.</dd>
				          <dt>Implementation Plan</dt>
				            <dd>Identify requirements by liaising with the community.</dd>
				            <dd>Document the specification for the CLI.</dd>
				            <dd>Build a prototype.</dd>
				          <dt>Owner</dt>
				            <dd>Ross McDonald.</dd>
				        </dl>
              </td>
            </tr>
            <tr>
              <td>
                <dl>
				          <dt>Objective</dt>
				            <dd>Comprehensive, informative, prompt error handling.</dd>
				          <dt>Goal</dt>
				            <dd>Report problems accurately to the user and handle them safely, leaving the system in a fixable state.</dd>
				          <dt>Success Criteria</dt>
				            <dd>The user is informed where the problem is and how to fix it.</dd>
				            <dd>The system is left reproducibly in the state it was before.</dd>
				          <dt>Implementation Plan</dt>
				            <dd>Identify requirements by liaising with the community.</dd>
				            <dd>Document the specification for the error handling.</dd>
				            <dd>Build a prototype.</dd>
				          <dt>Owner</dt>
				            <dd>Barrie McGuire.</dd>
				        </dl>
              </td>
            </tr>
            <tr>
              <td>
                <dl>
				          <dt>Objective</dt>
				            <dd>Write documentation to enable users and contributors.</dd>
				          <dt>Goal</dt>
				            <dd>Documentation should enable new users and new contributors.</dd>
				          <dt>Success Criteria</dt>
				            <dd>New users can get started fast.</dd>
				            <dd>Barrier to entry for contributors is lowered.</dd>
                    <dd>Find a way to document in an engaging way.</dd>
				          <dt>Implementation Plan</dt>
				            <dd>Gather feedback from users and contributors.</dd>
				            <dd>Draft documentation.</dd>
				            <dd>Put together some screencasts.</dd>
				          <dt>Owner</dt>
				            <dd>Ross McDonald.</dd>
				        </dl>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
