<html>
  <body>
    <div id="silk-view">

      <ul class="breadcrumb">
			  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
			  <li class="active">Team</li>
			</ul>

      <section id="team">
        <div class="page-header">
          <h1>Team</h1>
        </div>

        <p>
          The Silk Web Toolkit is brought to you with pride by Bheap Ltd and a team of volunteers.  We had an itch... so Silk is... scratchy ?
        </p>

        <table class="table table-striped" id="teamTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ross McDonald</td>
              <td>Core committer</td>
              <td>ross AT bheap DOT com</td>
            </tr>
            <tr>
              <td>Barrie McGuire</td>
              <td>Core committer</td>
              <td>barrie AT bheap DOT com</td>
            </tr>            
            <tr>
              <td>Nick Featch</td>
              <td>Committer</td>
              <td>nick DOT featch AT gmail DOT com</td>
            </tr>
            <tr>
              <td>Simon Cross</td>
              <td>Contributor</td>
              <td>simon DOT cross AT banoop DOT com</td>
            </tr>
            <tr>
              <td>Claudius Spellmann</td>
              <td>Contributor</td>
              <td>claudius DOT spellmann AT gmail DOT com</td>
            </tr>
            <tr>
              <td>Matthew Taylor</td>
              <td>Contributor</td>
              <td>matt DOT ross DOT taylor AT gmail DOT com</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
